<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://localhost/socket.io/socket.io.js"></script>
<script>
	var socket = io.connect('http://localhost');
	
	// on connection to server, ask for users's name with anonymous callback
	socket.on('connect',function(){
		//call the server side function 'adduser' and send one parameter
		socket.emit('adduser', prompt("Whats your name?"));
	});
	
	//listener, whenever the server emits 'updatechat', this updates the chat body
	socket.on('updatechat', function(username, data){
		$('#conversation').append('<b>'+username+':</b>'+data+'<br>');
	});
	
	//listener, whenever the server emits 'updateusers', this updates the uername list
	socket.on('updateusers', function(data){
		$('#users').empty();
		$.each(data,function(key,value){
			$('#users').append('<div>' + key + '</div>');
		});
	});
	
	//on load of page
	$(function(){
		// when the client clicks SEND
		$('#datasend').click(function(){
			var message = $('#data').val();
			$('#data').val('');
			// tell server to execute 'sendchat' and send along one parameter
			socket.emit('sendchat', message);
		});
		//when client hits enter on their keyboard
		$('#data').keypress(function(e){
			if (e.which == 13){
				$(this).blur();
				$('#datasend').focus().click();
			}
		});
	});
</script>
<div style="float:left;width:100px;border-right:1px solid black; height:300px;padding:10px;overflow:scroll-y;">
	<b>USERS</b>
	<div id="users"></div>
</div>
<div style="float:left;width:300px;height:250px;overflow:scroll-y;padding:10px;">
	<div id="conversation"></div>
	<input id="data" style="width:200px;" />
	<input type="button" id="datasend" value="send" />
</div>




